<html>
    <h1>
        Pankaj Contact
    </h1>
    <table>
        <thead>
            <th>
                Name
            </th>
            <th>
                Contact
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                Amit
            </td>
            <td>
                720682883
            </td>
            </tr>
            <tr>
                
            <td>
                Amit
            </td>
            <td>
                720682883
            </td>
            </tr>
        </tbody>
    </table>
</html>