<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>
        The category of result({{exp.score}}) you got is {{exp.res}}
    </h1> -->

    <table border=2>
        {% for key,value in exp.items() %}
        <tr>
            {# This is a comment Section #}
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>

    {% if exp.score > 50 %}
    <h1>Pass</h1>
    {% else %}
    <h1>Fail</h1>
    {% endif %}
</body>
</html>